extends ../layout

block title
    p.menu-button.page-title.names #{profile.full_name}

block content
    section.profile-page
        div.profile-image(style="background: url("+profile.image+") no-repeat center; background-size: cover;")
        p.profile-name #{profile.full_name}
        p.profile-dob #{profile.dob}
        p.profile-dob #{profile.email}
        p.profile-locale #{profile.location}
        p.profile-text.pt1 #{profile.profile_pt1}
        p.profile-text.pt2 #{profile.profile_pt2}