extends ../layout

block title
    p.menu-button.page-title Speakers

block content

    p We have a wonderful array of speakers this year. See the dates when they are speaking and view their profiles!
    each speaker in speakers
        section.board.speaker-board
            header.board-header= speaker.speaker_name
            div.board-content
                div.speaker-image(style="background: url('http://46.101.23.237:8000"+ speaker.speaker_image +"') no-repeat center; background-size: cover;")
                div.text.speaker-date= speaker.talk_date
                div.text.speaker-topic= speaker.speaker_topic
            footer.board-footer
                a(href="?dev=true") View Profile