extends layout

block title
    p.menu-button.page-title Home

block content

  section.welcome-bar
    p.welcome-text

  section.hero-banner
    h3 Peak Performance
    p Sales & Marketing Event

  section.hero-item-holder
    a(href="/agenda/")
      div.hero-item.one
        p Agenda
    a(href="?attendees/dev=true")
      div.hero-item.two
        p Attendees
    a(href="/speakers/")
      div.hero-item.three
        p Speakers
    a(href="?schedule/dev=true")
      div.hero-item.four
        p Schedule

  section.board.personal-schedule
    header.board-header Your Bookings Today

  section.hero-button.register-button
    p Register For Seminars

  section.hero-button.venue-button Venue



