doctype html
html(ng-app="eventApp")
    head
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='stylesheet', href='/stylesheets/external/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/sweetalert.css')
    body
        div.nav-header
            div.menu-button.menu
                span.fa.fa-bars
            block title
            a(href="/profile")
                div.menu-button.login
                    span.fa.fa-user-circle
        div.side-menu
            div.menu-item.hide-menu
                span.fa.fa-times
            div.menu-item
                a(href="/") Home
                    span.fa.fa-home
            div.menu-item
                a(href="/register") Register
                    span.fa.fa-user-plus
            div.menu-item
                a(href="/speakers") Speakers
                    span.fa.fa-users
            div.menu-item
                a(href="/agenda") Agenda
                    span.fa.fa-clock-o
            div.menu-item
                a(href="?attendees/dev=true") Attendees
                    span.fa.fa-users
            div.menu-item
                a(href="?venue/dev=true") Venue
                    span.fa.fa-map-pin
            div.menu-item
                a(href="/profile") Profile
                    span.fa.fa-user-circle
        section.main-holder
            block content
        if page != "/"
            div.footer-bar
                div.menu-button.back Back
        script(src='/javascripts/jquery.js')
        script(src='/javascripts/sweetalert.min.js')
        script(src='/javascripts/main.js')
        script(src='/javascripts/register.js')
        script(src='/javascripts/profile.js')
        script(src='/javascripts/index.js')