extends layout

block title
    p.menu-button.page-title Register

block content

    if success
        section.welcome-bar
            p #{success}

    section.hero-banner
        h3 Peak Performance
        p Sales & Marketing Event
        p Registration

    p Welcome to registration page for Peak Performance! You will find that when you leave you will be at the top of your game!
    p Enter your details below to register for this amazing event.

    p.thankyou

    form(name="register-user", class="register-form", method="post", action="/register")
        div.input
            input(type="text", placeholder="Full Name", class="form-control", name="attendee_name", required=true)
        div.input
            input(type="email", placeholder="Email", class="form-control", name="attendee_email", required=true)
        div.input
            input(type="submit", class="form-control", value="Register")