extends ../layout

block title
    p.menu-button.page-title Agenda

block content
    each item in agenda
        section.agenda-content
            header.agenda.agenda-title #{item.event_title}
            div.agenda.agenda-time #{item.event_date}
            footer.agenda.agenda-footer.details
                p.detail More Details
                p.book Book