extends ../layout

block content

    section.profile-holder
        div.profile-photo
        form(name="edit_profile", class="edit_profile", method="post")
            div.input
                input(type="text", placeholder="Name", class="form-control", name="attendee_name", required=true)
            div.input
                input(type="text", placeholder="Email", class="form-control", name="attendee_email", required=true)
            div.input
                input(type="text", placeholder="Job Title", class="form-control", name="attendee_job_title", required=true)
            div.input
                input(type="text", placeholder="Company", class="form-control", name="attendee_company", required=true)
            div.input
                input(type="submit", class="form-control", value="Update Profile")

    //section.action-buttons
        div.button.clear-cache Clear Cache
        div.button.logout Logout